name: Publish NuGet

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x

      - name: Restore
        run: dotnet restore

      - name: Build & Pack
        run: dotnet pack src/FluentSourceGenerators/FluentSourceGenerators.csproj -c Release --no-restore -p:PackageVersion=${{ github.ref_name }} --output .

      - name: Publish to GitHub Packages
        run: |
          dotnet nuget push *.nupkg \
            --api-key ${{ secrets.GITHUB_TOKEN }} \
            --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json \
            --skip-duplicate
